#imagecarousel .carousel-item img {
    object-position: center;
    overflow: hidden;
    object-fit:cover;
    height: 480px;
}

#imagecarousel .carousel-item:before {
    content: '';
    display: block;
    position: absolute;
    background-image:
        linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, .5)
        );
    width: 100%; /*100vm*/
    top: 0;
    height: 100%;
    border-radius: 8px;
}
