#home-img
{
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)), url('../../../Images/FrontPage.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
