p, h1, h2, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#table-officer, #table-result, #table-score, #table-analysis {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table-officer td, #table-officer th, #table-result td, #table-result th, #table-score td, #table-score th, #table-analysis td, #table-analysis th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table-officer tr:nth-child(even), #table-score tr:nth-child(even), #table-analysis tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table-officer tr:hover, #table-score tr:hover , #table-analysis tr:hover {
    background-color: #ddd;
}

#table-officer th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #eb891b;
    color: white;
}

#table-result th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0093dd;
    color: white;
}

#table-score th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0093dd;
    color: white;
}

#table-analysis th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #68b92e;
    color: white;
}

#table-result tbody tr:first-child td {
    background-color:lightskyblue
}
